<section id="cta" class="cta">
    <div class="container">

      <div class="section-title">
        <h2 class="slick-hero-base">Setup a Meet &amp; Greet at a time convenient for you.</h2>
        <p>Our office is open 6 days a week on standard basis. We receive people between the times 09:30am - 05:30pm</p>
        <p>If someone wants to setup a meeting on Sunday, he/she has to set it up 2 days prior to the meeting.</p>
        <p>Otherwise if you have any question, feel free to contact us and through our provided contact information below OR fill out the form below.</p>
      </div>
    </div>

    
  </section>
