<section id="contact" class="contact slick-red-bg">
    <div class="section-title">
        <h2 class="slick-hero-base">Camden Branch Information</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>New Kings House, 136-144 New Kings Road, Camden, London SW6 4LZ</p>
            </div>
            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>{{site.email}}</p>
            </div>
            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+44 20 3659 9254 <br>+44 739 2438 213</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.282783259034!2d-0.20893618436560385!3d51.47132347962917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760f7ee5ec701d%3A0x924ff4931883d528!2sAAziz%20%26%20Co.%20Accountants%20and%20Tax%20Consultants!5e0!3m2!1sen!2s!4v1646315072179!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="contact" class="contact slick-red-bg">
    <div class="section-title">
        <h2 class="slick-hero-base">Sahiwal (Pakistan) Office Information</h2>
    </div>
    <div class="container">



      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>32-C, Farid Town, Sahiwal, Pakistan | P.O. Box # 57000</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@aazizandco.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+92 303 777 5493</p>
            </div>


          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=32-C%20Farid%20Town%20Sahiwal,%20Sahiwal%20Pakistan,%2057000+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen=""></iframe>
        </div>

      </div>

    </div>
  </section> -->
