<section id="contact" class="contact slick-red-bg">
    <div class="section-title">
        <h2 class="slick-hero-base">Camden Branch Information</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>140-146 Camden Street, Matter Building, London, NW1 9PF</p>
            </div>
            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>{{site.email}}</p>
            </div>
            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+44 20 3659 9254</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735.8787515932227!2d-0.14099323031770367!3d51.54127303233992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ba7ac6750b9%3A0x6f4fa60212619d04!2sPlaces%20Camden!5e1!3m2!1sen!2s!4v1760566807529!5m2!1sen!2s" style="border:0; width:100%; width:100%;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>
