<section id="contact" class="contact slick-red-bg">
    <div class="section-title">
        <h2 class="slick-hero-base">Fulham Branch Information</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>New Kings House, 136-144 New Kings Road, Fulham, London SW6 4LZ</p>
            </div>
            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@aazizandco.co.uk</p>
            </div>
            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+44 20 3659 9254 <br>+44 78 1044 8530</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=AAziz+&+Co.+Accountants+and+Tax+Consultants+Fulham&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="contact" class="contact slick-red-bg">
    <div class="section-title">
        <h2 class="slick-hero-base">Sahiwal (Pakistan) Office Information</h2>
    </div>
    <div class="container">

      

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>32-C, Farid Town, Sahiwal, Pakistan | P.O. Box # 57000</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@aazizandco.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+92 303 777 5493</p>
            </div>

            
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=32-C%20Farid%20Town%20Sahiwal,%20Sahiwal%20Pakistan,%2057000+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen=""></iframe>
        </div>

      </div>

    </div>
  </section> -->
