<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-md-6 align-items-stretch">
        <div class="card mb-4 box-shadow hover-bg-red">
            <div class="card-header bg-red">
                <h1 class="card-title pricing-card-title">Basic</h1>
              <h4 class="my-0 font-weight-normal">Turnover &#x3c; 10K</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4 slick-pricing-list">
                <li>Helping in Business Bank Account Setup</li>
                <li>Year-end Company Accounts</li>
                <li>Confirmation Statement Submission</li>
                <li class="text-grey"><s>Preparing and Submitting of CT600</s></li>
                <li class="text-grey"><s>Director Self-Assessment Submission</s></li>
                <li class="text-grey"><s>Processing of Payroll & RTI on monthly basis</s></li>
                <li class="text-grey"><s>Dividend & Corporation Tax Calculations</s></li>
                <li class="text-grey"><s>Dedicated Accountant</s></li>
                <li class="text-grey"><s>Tax Planning Advice</s></li>
                <li class="text-grey"><s>VAT Prep (4 Quarters))</s></li>
                <li class="text-grey"><s>Mortgage Refrences</s></li>
                <li class="text-grey"><s>Email / phone and face to face Support</s></li>
                <li class="text-grey"><s>Software for Book-keeping, Accounts & MTD</s></li>
                <li class="text-grey"><s>Written IR35 Review</s></li>
                <li class="text-grey"><s>Company Registered Office</s></li>
              </ul>
              <div style="justify-content: center; text-align: center; margin-top: 40px;">
                <a href="contact.html" class="slick-btn" style="justify-content: center;">Contact Us Today</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6 align-items-stretch">
        <div class="card mb-4 box-shadow hover-bg-red">
            <div class="card-header bg-red">
              <h1 class="card-title pricing-card-title">Startup</h1>
              <h4 class="my-0 font-weight-normal">Turnover &#x3c; 50K</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4 slick-pricing-list">
                <li>Helping in Business Bank Account Setup</li>
                <li>Year-end Company Accounts</li>
                <li>Confirmation Statement Submission</li>
                <li>Preparing and Submitting of CT600</li>
                <li>Director Self-Assessment Submission</li>
                <li>Processing of Payroll & RTI on monthly basis</li>
                <li>Dividend & Corporation Tax Calculations</li>
                <li>Dedicated Accountant</li>
                <li class="text-grey"><s>Tax Planning Advice</s></li>
                <li class="text-grey"><s>VAT Prep (4 Quarters))</s></li>
                <li class="text-grey"><s>Mortgage Refrences</s></li>
                <li class="text-grey"><s>Email / phone and face to face Support</s></li>
                <li class="text-grey"><s>Software for Book-keeping, Accounts & MTD</s></li>
                <li>Written IR35 Review(@ £10/month)</li>
                <li>Company Registered Office(@ £5/add-on)</li>
              </ul>
              <div style="justify-content: center; text-align: center; margin-top: 40px;">
                <a href="contact.html" class="slick-btn" style="justify-content: center;">Contact Us Today</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6  align-items-stretch">
        <div class="card mb-4 box-shadow hover-bg-red">
            <div class="card-header bg-red">
              <h1 class="card-title pricing-card-title">Growing Companies</h1>
              <h4 class="my-0 font-weight-normal">Turnover &#x3c; 100K</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4 slick-pricing-list">
                <li>Helping in Business Bank Account Setup</li>
                <li>Year-end Company Accounts</li>
                <li>Confirmation Statement Submission</li>
                <li>Preparing and Submitting of CT600</li>
                <li>Director Self-Assessment Submission</li>
                <li>Processing of Payroll & RTI on monthly basis</li>
                <li>Dividend & Corporation Tax Calculations</li>
                <li>Dedicated Accountant</li>
                <li>Tax Planning Advice</li>
                <li>VAT Prep (4 Quarters))</li>
                <li>Mortgage Refrences</li>
                <li>Email / phone and face to face Support</li>
                <li>Software for Book-keeping, Accounts & MTD</li>
                <li>Written IR35 Review</li>
                <li>Company Registered Office</li>
              </ul>
              <div style="justify-content: center; text-align: center; margin-top: 40px;">
                <a href="contact.html" class="slick-btn" style="justify-content: center;">Contact Us Today</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-6 col-md-6  align-items-stretch">
        <div class="card mb-4 box-shadow hover-bg-red">
            <div class="card-header bg-red">
              <h1 class="card-title pricing-card-title">Enterprise</h1>
              <h4 class="my-0 font-weight-normal">Turnover &#x3c; 200K</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4 slick-pricing-list">
                <li>Helping in Business Bank Account Setup</li>
                <li>Year-end Company Accounts</li>
                <li>Confirmation Statement Submission</li>
                <li>Preparing and Submitting of CT600</li>
                <li>Director Self-Assessment Submission</li>
                <li>Processing of Payroll & RTI on monthly basis</li>
                <li>Dividend & Corporation Tax Calculations</li>
                <li>Dedicated Accountant</li>
                <li>Tax Planning Advice</li>
                <li>VAT Prep (4 Quarters))</li>
                <li>Mortgage Refrences</li>
                <li>Email / phone and face to face Support</li>
                <li>Software for Book-keeping, Accounts & MTD</li>
                <li>Written IR35 Review</li>
                <li>Company Registered Office</li>
              </ul>
              <div style="justify-content: center; text-align: center; margin-top: 40px;">
                <a href="contact.html" class="slick-btn" style="justify-content: center;">Contact Us Today</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
