<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

      <div class="row">
        <div class="col-lg-8 text-center text-lg-left">
          <h3>Why choose us?</h3>
          <ul class="slick-cta">
            <li><i class="icofont-check-circled"></i> We can draft your Companaies Accounts within 20 days* </li>
            <li><i class="icofont-check-circled"></i> We provide you with Unlimited Phone Support.</li>
            <li><i class="icofont-check-circled"></i> We will give you a free tax review.</li>
            <li><i class="icofont-check-circled"></i> All of your work will have a <em>100% guarantee</em> of meeting the deadline.</li>
            <li><i class="icofont-check-circled"></i> Since we have been dealing in the UK for past 10 years, we are accustomed to the local legal environment.</li>
            <li><i class="icofont-check-circled"></i> Quality Assurance is key Aspect of our firm . The respective Head of Department understands the clients’ need and assigns a team that has relevant sector expertise. In addition to the continued communication, the Head of Department outlines the procedures, assists the client with the assignment, reviews the deliverable and delivers it to the client after ensuring the quality of the deliverable</li>
            <li><i class="icofont-check-circled"></i> Our office at Greyhound Lane, London SW16 5NL is accessible directly through the British Rail and we offer free parking outside our office</li>
          </ul>
        </div>
        <div class="col-lg-4 text-center slick-card">
          <h3>Special Availability Hours</h3>
          <h2 class="text-white slick-time">Saturdays:</h2><p>Always Open</p>
          <h2 class="text-white slick-time">Sundays:</h2>
          <p>Available (Appointments Only)</p>
          <div class="cta-btn-container text-center" style="display: block;"><a class="cta-btn align-middle" href="https://www.picktime.com/aazizandco">Book an Appointment</a></div>
          
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->