<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" id="limited-companies">
      <h2>
        We provide Free Basic Training to use accounting software to our
        clients- Software like Quick Book, Sage and Xero etc.
      </h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img
          src="{{site.baseurl}}assets/dev/img/about/startups.jpg"
          class="img-fluid slick-img slick-shadow-left"
          alt=""
        />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>We offer special packages for start-ups</h3>
        <p class="font-italic">
          just contact our certified consultants who will help you in:
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i> Choosing the best format for
            your business; whether it is suitable for you or for Sole
            Trader/Limited Company (LLP) as the business format has implications
            for taxation, raising finance and personal liability, so it's vital
            to choose the right option.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Helping you to decide which
            Bank is more useful for you In the long run for your business and
            explain well all the pros and cons of each choice.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Helping you to decide whether
            to register for VAT or Not, and which Scheme to choose from Standard
            or Flat rate.
          </li>
        </ul>
        <div>
          <a href="" class="slick-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
<!-- About 2 -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-1">
        <img
          src="{{site.baseurl}}assets/dev/img/about/established-business-advice.jpg"
          class="img-fluid slick-img slick-shadow-right"
          alt=""
        />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>And once your Business is established, We offer to advise on:</h3>
        <p class="font-italic">
          just contact our certified consultants who will help you in:
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i> Making sure that your tax
            returns are filed on time and that you pay the correct amount of
            tax, not more than its necessary.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Ensuring the client uses all
            the tax reliefs available to them, and provide advice to the client
            on minimizing future tax liabilities.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Advising on payroll
            preparation.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Helping to prepare business
            plans and financial forecasts.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Helping with managing cash
            flow so the business does not run out of money
          </li>
        </ul>
        <div>
          <a href="" class="slick-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about" id="contractor-siv">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img
          src="{{site.baseurl}}assets/dev/img/about/contractors.jpg"
          class="img-fluid slick-img slick-shadow-left"
          alt=""
        />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>
          If you are a contractor, we have specialist accountants for your help
        </h3>
        <p class="font-italic">
          With three core packages and multiple bolt-ons, we cover all your
          accountancy needs. Allowing you to focus on your contractor
          commitments.
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i> We will be advising you how to
            run your business efficiently,
          </li>
          <li>
            <i class="icofont-check-circled"></i> making sure, your company meet
            the deadline of filing
          </li>
          <li>
            <i class="icofont-check-circled"></i> Making sure, that you or your
            company don’t get charge penalties for late filling of accounts and
            returns
          </li>
          <li>
            <i class="icofont-check-circled"></i> We give a software, which
            fulfil your requirement.
          </li>
          <li>
            <i class="icofont-check-circled"></i> and draft monthly Management
            accounts, Statutory Year End Accounts, Self-Assessment and Tax
            Returns, IR-35 Compliance etc.
          </li>
        </ul>
        <div>
          <a href="" class="slick-btn">View Contractor Packages</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About 2 Ends -->
