<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="index.html" class="logo mr-auto" ><img src="{{site.baseurl}}assets/logo/aaziz.svg" alt="" class="img-fluid" width="70%" style="margin-bottom: 20px;"></a>
            <p>
              2 - Sanders Parade, <br>
              Greyhound Lane, Streatham, <br>
              London Sw16 5NL<br>
              United Kingdom
              <br><br>
              <strong>Phone: </strong> <a href="tel:{{site.socials.phone}}">{{ site.socials.phone }}</a><br>
              <strong>Mobile: </strong><a href="tel:{{site.socials.whatsapp}}">{{site.socials.whatsapp}}</a> <br>
              <strong>WhatsApp ONLY: </strong><a href="tel:{{site.socials.whatsapp2}}">{{site.socials.whatsapp2}}</a> <br>
              <strong>Email: </strong> <a href="mailto:{{site.email}}"> {{site.email}}</a> <br>
            </p>
            
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul class="slick-ul color-black">
              <li><i class=""></i> <a href="index.html">Home</a></li>
              <li><i class=""></i> <a href="about.html">About us</a></li>
              <li><i class=""></i> <a href="services.html">Services</a></li>
              <li><i class=""></i> <a href="contact.html">Contact</a></li>
              <li><i class=""></i> <a href="toc.html">Terms of service</a></li>
              <li><i class=""></i> <a href="privacy-policy.html">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul class="slick-ul">
              <li><i class=""></i> <a href="#">Startup Businesses</a></li>
              <li><i class=""></i> <a href="#">Limited Companies</a></li>
              <li><i class=""></i> <a href="#">Landlords</a></li>
              <li><i class=""></i> <a href="#">Contractors</a></li>
              <li><i class=""></i> <a href="#">Sole Traders</a></li>
              <li><i class=""></i> <a href="#">Self Employed</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter footer-links">
            <h4>Our Newsletter</h4>
            <p class="slick-p">We post and update our clients with the hostile tax environment in regards of laws and policies on monthly basis. If you want to be a part of that, sign up with your email below :)</p>
            


          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="https://aazizandco.us19.list-manage.com/subscribe/post?u=9dafb782f59b7156d64bc05a3&amp;id=7a20faf750" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9dafb782f59b7156d64bc05a3_7a20faf750" tabindex="-1" value=""></div>
              <div class="clear custom-mc-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-md bg-red text-white attention-btn"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->




          </div>

        </div>
      </div>
    </div>
    <div class="footer-info2">
      <div class="social-links pt-3 social-list">
        {% if site.socials.twitter %}<a href="https://www.twitter.com/{{ site.socials.twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
        {% if site.socials.facebook %}<a href="https://www.facebook.com/{{ site.socials.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
        {% if site.socials.instagram %}<a href="https://www.instagram.com/{{site.socials.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
        {% if site.socials.gmb %}<a href="https://g.page/{{ site.socials.gmb | append: "?gm" }}" class="google-plus"><i class="bx bxl-google"></i></a>{% endif %}
        {% if site.socials.linkedin %}<a href="javascript:;" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endif %}
        {% if site.socials.trustpilot %}<a href="javascript:;" class="linkedin"><i class="icofont-star"></i></a>{% endif %}
        {% if site.socials.skype %}{% endif %}
      </div>
    </div>
    <div class="container-fluid cpright">
      <div class="copyright">
        &copy; Copyright <strong><span>AAziz & Co. Accountants and Tax Consultants</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="brainloggers.co.uk">Brainloggers</a>
      </div>
    </div>
  </footer><!-- End Footer -->