<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Our Team</h2>
        <p>We have a team of more than 20 people that are serving from three different cities and four different offices. Our network of Accountants is vast and we know how to get things done because we know our credibility and our ability to do things right.</p>
      </div>

      <div class="row">
        {% for entry in site.data.team %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ entry.image }}" alt="">
              <h4>{{ entry.name }}</h4>
              <span>{{ entry.designation }}</span>
              <div class="social">
                {% if entry.twitter %}<a href="{{entry.twitter}}"><i class="icofont-twitter"></i></a>{% endif %}
                {% if entry.facebook %}<a href="{{entry.facebook}}"><i class="icofont-facebook"></i></a>{% endif %}
                {% if entry.instagram %}<a href="{{entry.instagram}}"><i class="icofont-instagram"></i></a>{% endif %}
                {% if entry.linkedin %}<a href="{{entry.linkedin}}"><i class="icofont-linkedin"></i></a>{% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>
  </section><!-- End Team Section -->