<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">info@aazizandco.co.uk</a>
        <i class="icofont-phone"></i> <a href="tel:+442036599254"> +44 20 3659 9254</a>  
         <a href="+44 78 1044 8530"><i class="icofont-whatsapp"></i></a> </i> <a href="https://wa.me/447810448530"> +44 78 1044 8530</a> 
      </div>
      <div class="social-links">
        <a href="javascript:;" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/AAzizandco" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://g.page/aazizandco?gm" class="skype"><i class="icofont-google-plus"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>