<section class="services" id="services">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-3 order-2  order-lg-2 slick-height">
              <img src="assets/img/about.jpg" class="img-fluid slick-img slick-shadow-right-white slick-height-x" alt="" style="">
            </div> -->
      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-black">
        <h3>Bookkeeping Services</h3>
        <ul class="slick-ul">
          <li>
            <i class="icofont-check-circled"></i> We also provide the
            bookkeeping services to our valuable clients.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We can provide the various
            bookkeeping services to our client according to their requirements,
            i.e Bank Bookkeeping, Sales invoices, Purchase invoices and VAT.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We provide advices to our
            clients on day to day basis with no extra cost.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We are always connected to our
            clients via email and phone to receive their queries, documents and
            certain transactions so we can finalize their work on time.
          </li>
        </ul>
        <div>
          <a href="" class="slick-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
