<section class="services cta" id="services">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-3 order-1 order-lg-1 slick-height">
            <img src="assets/img/about.jpg" class="img-fluid slick-img slick-shadow-right-white slick-height-x" alt="" style="">
          </div> -->
      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Property Accounts Services</h3>
        <p>
          We also draft the Property accounts for the clients. It is important
          to complete theses accounts with care to claim maximum tax allowances.
          We always make sure that such accounts are as per the requirements of
          our valuable clients.
        </p>
      </div>
    </div>
  </div>
</section>
