<section class="services" id="services">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-3 order-2  order-lg-2 slick-height">
              <img src="assets/img/about.jpg" class="img-fluid slick-img slick-shadow-right-white slick-height-x mgmt-img" alt="" >
            </div> -->
      <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-black">
        <h3>Management Accounts Services</h3>
        <p>
          We are very much keen in Management Accounts Service as it allows our
          clients to have a look on Cash Flow and observe the trend. Management
          Accounts are like a security check to make sure your business must not
          carry unnecessary expenses with it. We can provide our clients the
          management accounts on Monthly, Quarterly and Half Yearly basis.<br />
        </p>

        <p>We are happy to prepare:</p>
        <ul class="slick-ul">
          <li>
            <i class="icofont-check-circled"></i> Profit &amp; Loss Accounts
          </li>
          <li><i class="icofont-check-circled"></i> Cash Flows</li>
          <li><i class="icofont-check-circled"></i> Management Accounts</li>
          <li><i class="icofont-check-circled"></i> Business Plans</li>
        </ul>
        <div>
          <a href="" class="slick-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
