<section class="services cta" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-1 order-lg-1 slick-height">
        <img
          src="{{site.baseurl}}assets/dev/img/about/payroll-services (2).jpg"
          class="img-fluid slick-img slick-shadow-right-white slick-height-x payroll-img"
          alt=""
          title=""
          style=""
        />
      </div>
      <div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Payroll Services</h3>
        <p>
          We provide variety of services to our valuable clients one of them is
          PAYE for Sole Traders and Companies. Our responsibility is to provide
          hectic free service of Payroll. We believe a company will capture more
          business if their employees will be paid good and on time to encourage
          their performance and loyalty with the Company.
        </p>
        <ul class="padding-left-0 slick-list about-cta slick-ul">
          <li>
            <i class="icofont-check-circled"></i> You will email us your
            employee's time sheets.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We provide our clients pay
            slips on monthly &amp; weekly Basis
          </li>
          <li>
            <i class="icofont-check-circled"></i> We will complete your RTI's on
            weekly and Monthly basis to HM Revenue and Customs.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We will provide you with the
            best possible advice regarding the employment.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We prepare P45 ,P46 , P60 in
            24 hour notice.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We take full care of GDPR
            regarding the data security of our clients so all files will be
            always password protected.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We will file your P35 Employer
            Annual Return well before the due date.
          </li>
          <li>
            <i class="icofont-check-circled"></i> We also deal with SMP
            (Maternity Pay) SSP (Sick Pay) SPP (Paternity Pay) SAP (Adoption
            Pay)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
