<section class="services cta">
    <div class="container">
      <div class="row">
          <div class="col-lg-3 order-1 order-lg-1 slick-height">
            <img src="assets/img/about/accounting-services.jpg" class="img-fluid slick-img slick-shadow-right-white slick-height-x" alt="">
          </div>
          <div class="col-lg-9 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Accounting Services</h3>
            <h4 class="text-white">
              OUR OPERATIONS:
            </h4>
            <ul class="padding-left-0 slick-list about-cta slick-ul">
                <li><i class="icofont-check-circled"></i> After the end of accounting period we will write to you with in 15 days for the required paperwork which we use to draft your Accounts.  For example if your company accounting Period ends on 31 March 2019 , we will approach you by 15th of April 2019.</li>
                <li><i class="icofont-check-circled"></i> Once we will receive the documents we require from you, it will take us 14 days to get your business accounts ready.</li>
                <li><i class="icofont-check-circled"></i> Once your accounts will be ready we will approach you to discuss the accounts with you.</li>
                <li><i class="icofont-check-circled"></i> We will provide you the tax planning.</li>
                <li><i class="icofont-check-circled"></i> We are very much happy to make final amendments in the accounts with the supportive documents if needed.</li>
                <li><i class="icofont-check-circled"></i> Annual accounts will be submitted to Companies house and Corporation tax will be submitted to H M Revenue &amp; Customs online by us.</li>
                <li><i class="icofont-check-circled"></i> We will provide you the accounts and Tax Computation copies via Emial , also you can get it in Hardcopy as per your wish.</li>
                <li><i class="icofont-check-circled"></i> We will provide unlimited advice on Day to day business activities.</li>
            </ul>
            
            <div class="cta-btn-container" style="display: block;"><a class="cta-btn align-middle" href="#">Contact Us</a></div>
          </div>
          
        </div>
    </div>
</section>