<!-- ======= Cta Section ======= -->
<section id="cta" class="cta about-cta">
    <div class="container">

        <div class="section-title" id="limited-companies">
          <h2 class="slick-hero-base">We have been providing our services within London since past 13 Years</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{{site.baseurl}}assets/dev/img/about/startups.jpg" class="img-fluid slick-img slick-shadow-left-white" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>We offer a special packages for start-ups</h3>
            <p class="font-italic">
              just contact our certified consultants who will help you in:
            </p>
            <ul style="list-style-type: none;" class="padding-left-0">
              <li><i class="icofont-check-circled"></i> Choosing the best format for your business; whether it is suitable for you or for Sole Trader/Limited Company (LLP) as the business format has implications for taxation, raising finance and personal liability, so it's vital to choose the right option.</li>
              <li><i class="icofont-check-circled"></i> Helping you to decide which Bank is more useful for you In the long run for your businessand explain well all the pros and cons of each choice. </li>
              <li><i class="icofont-check-circled"></i> Helping you to decide whether to register for VAT or Not, and which Scheme to choose from Standard or Flat rate.</li>
            </ul>
            <div>
              <a href="" class="slick-btn slick-btn-white">Learn More</a>
            </div>
            
          </div>
        </div>

      </div>
  </section><!-- End Cta Section -->