<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home | AAziz</title>
  <meta content="We are a team of Chartered Certified Accountants and legal consultants for all aspects of Accountancy, Taxation, commercial lease, legal business acquisition, mergers and sales transactions." name="description">
  <meta content="accountants, legal consultants, certified accountants, taxation, tax, commercial lease, acquisition, mergers, sales transations, contractors accounts, " name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}assets/dev/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}assets/dev/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}assets/dev/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}assets/dev/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{site.baseurl}}assets/dev/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="{{site.baseurl}}assets/dev/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{site.baseurl}}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- DevChain Main CSS File -->
  <link href="{{site.baseurl}}assets/dev/css/style.css" rel="stylesheet">
  <link href="{{site.baseurl}}assets/dev/css/afterlife.css" rel="stylesheet">
  <style>
    
  </style>
</head>

<body>
    {{content}}



    <!-- Vendor JS Files -->
    <script src="{{site.baseurl}}assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{site.baseurl}}assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="{{site.baseurl}}assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="{{site.baseurl}}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{site.baseurl}}assets/dev/js/main.js"></script>
</body>

</html>